/* === NAVBAR GENERAL === */
.navbar {
  width: 100%;
  padding: 0.8rem 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e5dfda;
}

.logo {
  /* width: 240px;      */
  aspect-ratio: 3 / 1;
  display: flex;
  align-items: center;
}

.logo img {
  object-fit:contain;
  width: 200px;
}

.brand {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.navLinks {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}

.navLinks li {
  list-style: none; 
}

.navLinks li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.icons {
  display: flex;
  gap: 1rem;
}

.menuButton {
  display: none;
  background: none;
  border: none;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #faf4ee;
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}

.mobileMenu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileMenu li {
  list-style: none;
}

.mobileMenu ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

.mobileIcons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.open {
  display: flex;
}


@media (max-width: 768px) {
  .navLinks,
  .icons {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
